.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #00000042;
    margin: 20px 20px;
}


.card img {
    height: 60%;
    object-fit: cover;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.card h1 {
    font-family: sans-serif;
    font-size: 1.3rem;
    width: 80%;
    margin-top: 8%;
    text-align: center;
}

.card p {
    margin-top: 2%;
    width: 80%;
    font-size: 88%;
    text-align: center;
}