.home {
    background-color: #1C1C1C;
}

.home h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, #00b7ff,
            #feaeeb, #00eaff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(0px 0px 94px #ffffff);
}

.description p {
    color: #676767;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}