.outerHeader {
    background-color: #1C1C1C;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navigation ul {
    color: #58AFFF;
}

.header .logo {
    width: 7%;
}

.header .buttons {
    width: 75%;
}

.buttons .button1 {
    /* background-color: #b7b7b7; */
    /* color: #58AFFF; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttons .button2 {
    background-color: #58AFFF;
    /* color: #ffffff; */
}